<mat-toolbar class="dark-warn">
  <a [routerLink]="['/']">
    <button mat-icon-button aria-label="Github">
      <img style="height: 24px;" src="assets/image/pokeball-white.png">
    </button>
  </a>
  <a [routerLink]="['/']">Pokémon</a>
  <span class="right-align-spacer"></span>
  <a href="https://br.linkedin.com/in/ian-rotondo-bagliotti" target="_blank">
  <button mat-icon-button aria-label="LinkedIn">
    <mat-icon>contact_mail</mat-icon>
  </button>
  </a>
  <a href="https://github.com/ianbag/pokemon-app" target="_blank">
    <button mat-icon-button aria-label="Github">
      <mat-icon>share</mat-icon>
    </button>
  </a>
</mat-toolbar>
