.card-pokemon {
  max-width: 300px;
  min-width: 200px;
  margin-top: 40px;
}

.example-header-image {
  background-size: cover;
}

.pokemon-content:first-child {
  margin: 10px 5px 5px 5px;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.3),
    0px 1px 1px 0px rgba(0, 0, 0, 0.03), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

