<div class="container">
  <div class="pokemon-content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
    <mat-card class="card-pokemon" *ngFor="let pokemon of dataPokemons?.results">
      <mat-card-header>
        <div mat-card-avatar style="background-image: url('{{pokemon.sprite}}')" class="example-header-image"
          fxLayoutAlign.xs="center center"></div>
        <mat-card-title>{{pokemon.name}}</mat-card-title>
        <mat-card-subtitle>#{{pokemon.id}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{pokemon.sprite}}" alt="{{pokemon.name}}">
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button [routerLink]="['/pokemon/', pokemon.name]" mat-button>Detalhes</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="setParamsService($event)">
  </mat-paginator>
</div>
<ngx-ui-loader bgsColor="#f44336" fgsColor="#f44336" pbColor="#f44336"></ngx-ui-loader>
